<div class="container round contact">
<h1>About</h1>
<p>This is a website where you can find offers from a varoius number of cities.</p>
Our team:
<ul>
		<li>Adrian Belgun</li>
		<li>Mihai Florea</tr>
		<li>Gabriel Ilie</tr>
		<li>Sergiu Nisioi</tr>
		<li>Adriana Reus</tr>
		<li>Stefan Simionescu</tr>
		<li>Andrei Sipos</tr>
		<li>Andrei Strachinescu</tr>
		<li>Adrian Toncean</tr>
		<li>Diana Vasile</tr>
</ul>
</div>