<div class="container round contact"><h1>Contact</h1><br>
<p>You can contact us by sending an email to: <a href="mailto:porcoupon@yahoo.com">porcoupon@yahoo.com</a> and one of our administrators will respond you as soon as possible.</p>
<p>You can find us on: 
	<ul>
		<li>Facebook <a href="http://facebook.com/porcoupon">facebook.com/porcoupon</a></li>
		<li>Twitter <a href="http://twitter.com/porcoupon">twitter.com/porcoupon</a></li>
	</ul>
</p>
</div>