<div class="container" >
<section class="round">
<table>
	<tr>
		<th></th>
		<th><%=@criteria%></th>
	</tr>
<% @deals.each do |d| %>
	<tr>
		<td width="500">
			<%= d.title %>
		</td>
		<td>
			<b>
				<% if @criteria == "Views" %>
					<%= d.views %>
				<% elsif @criteria == "Redirects" %>
					<%= d.redirects %>
				<% end %>
			</b>
		</td>
	</tr>
<% end %>
</table>
</section>
</div>