.container {
  width:75%;
  background-color: #F6F6F6;
}

.content {
  margin-top: 1em;
}

body {
  background: #191D34;
}

header {
  width: 100%;
  background: rgb(119, 225, 243);
  background-image: url('menu-texture.jpg');
}

header img {
  padding: 0.7em;
}

section {
  margin-top: 1em;
  font-size: 120%;
  padding: 20px;
  overflow: hidden;
}

section h1 {
  font-size: 200%;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

.menu
{
    float: right;
    clear: right;
    margin-right: 1em;
    margin-top: 1em;
}

.footer-menu nav {
  
  padding: 0 0.7em;
  white-space: nowrap;
}

.footer-menu nav ul {
  margin: 0;
  padding: 0;
}

.footer-menu nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

.footer-menu nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

.footer-menu nav ul li a:visited {
  color: #09c;
}

.footer-menu nav ul li a:hover {
  text-decoration: underline;
}

/* Sign up button */

a.signup_button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
  width: 190px;
  color: #fff;
  background: #006400;
  font-size: 150%;
  font-weight: bold;
  padding: 20px;
}

/* Search */
.search {

    float:right;
    clear:right;
    margin-right: 1em;
    margin-top: -2.7em;
    padding: 0.7em;
    font-size: 1.5em;
}

.searchresult {
  padding: 10px 5px 5px 5px;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 220px;
  position: relative;
}

.searchresult img {
    float: left;
    margin: 1em;
    min-width:200px;
    max-width: 350px;
    max-height: 200px;
    min-height: 150px;
}

.readmore {
  bottom: 1em;
  right: 2em;
  position: absolute;
}

/* Round corners */

.round {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url('menu-texture.jpg');
}

footer nav {
  float: none;
}

/* User show page */

table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

div.field, div.actions {
  margin-bottom: 10px;
}


/*********** BUTTON *************/
.cbdb-menu li {
	display: block;
	float: left;
	line-height: 35px;
	list-style:none;
	margin: 0 5px;
    width: 120px;
}
.cbdb-menu li a {
	/* This generators the gradient on top of the solid color */
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, rgba(255,255,255,.5)),
		color-stop(1, rgba(0,0,0,.1))
	);
	background-image: -moz-linear-gradient(
		center top,
		rgba(255,255,255,.5) 0%,
		rgba(0,0,0,.1) 100%
	);
	color: #f4f4f4; /* IE */
	color: rgba(255, 255, 255, 0.8);
	display: block;	
	font: bold 18px "Myriad Pro","Lucida Grande",Helvetica,Arial,sans-serif;		
	outline:none;
	padding: 5px 15px;
	text-decoration: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; 
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
	-moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
	-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.65);
    height: 50px;
}
    .cbdb-menu li a:hover{
        color: #f4f444;
    }

	.cbdb-menu li a:active {
		background-image: -webkit-gradient(
			linear,
			left bottom,
			left top,
			color-stop(0,rgba(255,255,255,.5)),
			color-stop(.1,rgba(255,255,255,.2)),
			color-stop(.85, rgba(0,0,0,.2)),
			color-stop(100, rgba(0,0,0,.4))
		);
		background-image: -moz-linear-gradient(
			center bottom,
			rgba(255,255,255,.5) 0%,
			rgba(255,255,255,.2) 10%,
			rgba(0,0,0,.2) 85%,
			rgba(0,0,0,.4) 100%
		);
	}
/* Dark Text */
.cbdb-menu li a.dark {
	color: #333; /* IE */
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}
/*********** COLORS *************/
/* Create your own class for your own colors */
.red {
	background: #B80202;
	border: #B80202 1px solid
}
	.red:hover, .red:focus{
		background-color:#e30606
	}
.green {
	background: #46c431;
	border: #46c431 1px solid
}
	.green:hover,.green:focus {
		background-color:#44e329
	}
.yellow {
	background: #D9CE1C;
	border: #D9CE1C 1px solid
}
	.yellow:hover,.yellow:focus {
		background-color:#eee117
	}
.cyan {
	background: #23c6de;
	border: #23c6de 1px solid
}
	.cyan:hover,.cyan:focus {
		background-color:#18d8f4
	}
.blue {
	background: #3271d9;
	border: #3271d9 1px solid
}
	.blue:hover,.blue:focus {
		background-color:#377ef2
	}



/*deals*/

.deal{
  width: 400px;
  height: 110px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid #999;
  word-wrap: normal;
  padding: 0.5em;
}
  .deal img{
    max-height: 100px;
    max-width: 100px;
    float:left; 
    margin: 5px; 
  }
  
  .dealdetails{
    padding: 2em;
    color: #191D34;
  }
  
  .dealdetails img{
    max-height: 300px;
    max-width: 400px;
    float:left; 
    margin: 1em;
  }

  .dealdetails h1{
    margin-top: 1em;
    color: #191D34;
  }
  
  .userdetail{
    padding: 2em;
    color: #323547;
  }

/* Pagination */
 .pagination {
        font-size: 11px;
        float: right;
        margin: 0;
        padding: 3px 0 4px;
    }
        .pagination a,
        .pagination span {
            padding: 3px 3px 2px;
        }
        .pagination .disabled {
            background:none repeat scroll 0 0 transparent;
            border:medium none;
            color:#999999;
            cursor:default;
        }
        .pagination a {
            color:#3B5998;
            cursor:pointer;
            text-decoration:none;
        }
        .pagination a:hover {
            background-color:#3B5998;
            border-bottom:1px solid #3B5998;
            border-color:#D8DFEA #D8DFEA #3B5998;
            color:#FFFFFF;
            text-decoration:none;
        }
        .pagination .current {}
            .pagination .current {
                border-bottom:2px solid #3B5998;
                border-color:#3B5998;
                color:#3B5998;
                font-weight:bold;
                padding-left:2px;
                padding-right:2px;
            }
            .pagination .current a:hover {
                background-color:#3B5998;
                color:#FFFFFF;
            }

        .pagination .prev_page {

        }
        .pagination .next_page {
        }

.pagination ul {
list-style-type:none;
margin:0;
padding:0;
text-align:left;
}

.pagination ul li {
  float: left;
}

.pagination {
  right: 12.5%;
  position: absolute;
}

.topsdiv
{
  width:300px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.topsdiv a {
  padding: 0.6em;
}


.formbutton {
  padding: 5px 8px 5px 8px;  
  color: white;
  font-weight: bold;
  background-color: #191D34;
}

.formbutton:hover {
  background-color: #191D50;
}

/* Comments */
.comments {
  padding: 20px 10px 40px 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 75%;
  position: relative;
}

.comments textarea {
  width: 600px;
  height: 100px;
}

.comment{
  width: 90%;
}

.comment div{
  background-color: #F6F6F6;
  height: 100px;
  width: 600px;
  margin-top: 1em;
  margin-bottom: 1em;
  border:  3px solid #F6F6F6;
}

.comment span{
  
  right: 30px;
}
.contact{
  padding: 20px 10px 40px 10px;
}

.relateddeals {
   padding: 20px 10px 40px 10px;
   margin-top: 1em;
   margin-bottom: 1em;
}

#wrap{
  width: 700px;
  margin: 0 auto;
  height:400px;
  margin-top: 6em;
  text-align: center;
}

#wrap p {
  margin-bottom: 3em;
  font-size: 2em;
}

.roundabout-holder {
        list-style: none;
        width: 50em;
        height: 10em;
        margin: 1em auto;
      }
      
      .roundabout-moveable-item {
        height: 300px;
        width: 562px;
        cursor: pointer;
      }
      
   
   .roundabout-moveable-item img {
        width: 100%;
        height: 100%;
      }
   
   .roundabout-in-focus { cursor: auto; }

.fbfooter {
  background-color: white;
  width: 600px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}