#js-container {
	width:1120px;
	position:relative;
	left: 10%;
	height:500px;
}
.js-image {
	background:#000;
	font-size:1em;
	overflow:hidden;
	position:absolute;
	z-index:1;
	text-align:left;
	border: 1px solid white;
}
.js-image a img,
a .js-overlay-image {
	border:none;
}
.js-image,
.js-image img,
.js-image.size-3,
.js-image.size-3 img,
.js-overlay-image {
	width:358px;
	height:238px;
}
.js-image.size-2,
.js-image.size-2 img {
	width:178px;
	height:118px;
	font-size:.6em;
}
.js-image.size-1,
.js-image.size-1 img {
	width:88px;
	height:58px;
	font-size:.3em;
}
.js-small-caption {
	padding: 0px 5px 0px 5px;
	position:absolute;
	bottom:0;
	left:0;
	background:#000;
	height:auto;
}
.js-small-caption {
	opacity:.8;
	width: 100%;
}
.js-caption-overlay {
	background:#eee;
	z-index:998;
	padding:12px;
	position:absolute;
	overflow:hidden;
}
.js-small-caption span {
	color:#fff;
}
.js-overlay-image {
	float:left;
	max-width: 200px;
	height: auto;
	padding: 0px 10px 0px 0px;
}
.js-overlay-html {
}
.js-overlay-html h4 {
	margin: 10px 0px 0px 0px;
	padding:0px 0px 10px 0px;
	font-weight: bold;
}
.js-overlay-html p {
	font-size: 1em;
	margin:0;
}
.close_button {
	position:absolute;
	right:3px;
	top:3px;
}

.close_button img {
	height:20px;
	width:20px
}

.close_button img:hover  {
	height:25px;
	width:25px;
	right:1.5px;
	top:1.5px;
}